<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>sma</title>
		<style>
            .container {
                margin: 10px 10px 10px 10px;  
                border: 5px solid #00bba3;
                overflow: auto
            }
            img {
                display: block;
                float: left;
                width: 40%
            }
            .text {
                margin: 5px
            }
		</style>
	</head>
	<body>
        <div style="max-width: 900px; margin: auto;">
            <div class="container">
                <h1>
                    <a href="{{ url_for('sma') }}">sma</a>
                </h1>  
            </div>
            <form action='/delete' method='post' onsubmit="return confirm('Bist du dir sicher?');">
            {%  for mail in mails %}
                <div class="container">
                        <div class="text">
                            <a href="/{{ mail['id']}}">
                                <h2>{{ mail['subject'] }}</h2>
                                <p>
                                     Von: {{ mail['from'] }}<br>
                                     An: {{ mail['to'] }}<br>
                                     Datum: {{ mail['date'] }}
                                </p>
                            </a>
                            <h1>
                                <input class="trash" type='checkbox' name='{{ mail['id'] }}' />🗑
                            </h1>
                        </div>
                </div>
            {% endfor %}
            <p><input type=submit value='delete selected mails'>
            </form>
            <br> <button onclick="toggle(true)">alle markieren</button>
            <br> <button onclick="toggle(false)">keine markieren</button>
            <script>
                function toggle(state) {
                    var switches = document.getElementsByTagName('input');
                    for(var i=0; i < switches.length; i++) {
                        if (switches[i].type == 'checkbox') {
                            switches[i].checked = state;
                        }
                    };
                }
            </script>
        </div>
	</body>
</html>
