<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>sma</title>
		<style>
            .container {
                margin: 10px 10px 10px 10px;  
                border: 5px solid #00bba3;
                overflow: auto
            }
            img {
                display: block;
                float: left;
                width: 40%
            }
            .text {
                margin: 5px
            }
		</style>
	</head>
	<body>
        <div style="max-width: 900px; margin: auto;">
            <div class="container">
                <h1>
                    <a href="{{ url_for('sma') }}">sma</a>
                </h1>  
            </div>
                <div class="container">
                        <div class="text">
                                <h2>{{ subject }}</h2>
                        </div>
                </div>
                <div class="container">
                        <div class="text">
                                <p>
                                     {{ text }}
                                </p>
                        </div>
                </div>
                <div class="container">
                        <div class="text">
                                <p>
                                     {{ html|safe }}
                                </p>
                        </div>
                </div>    
                {%  for attachment in attachments %}
                    <div class="container">
                            <div class="text">
                                    <p>
                                        <a href="/get/{{attachment.meta.filename|safe }}" 
                                            filename="{{attachment.meta.filename|safe }}">
                                            {{attachment.meta.filename|safe }}
                                        </a>
                                    </p>
                            </div>
                    </div>    
                {% endfor %}
        </div>
	</body>
</html>
