<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form action='' method='post'>
            Suchwort(e): <input type='text' name='query'>
            <br>
            Betreff: <input type='text' name='subject'>
            <br>
            Absender: <input type='text' name='from'>
            <br>
            Empfänger: <input type='text' name='to'>
            <br>
            Anhang: <input type='text' name='attachment'>
            <br>
            Datum:
            <br>
            ab: <input type='date' name='dateFrom'>
            <br>
            bis: <input type='date' name='dateTo'>
            <input type=submit value=suchen> <input type='reset'>
        </form>
        <br>
        <br>
        <br>
        <a href="/logout">logout</a>
    </body>
</html>
